@using MESS.Services.UI.PartTraceability
@using MESS.Services.UI.ProductionLogEvent

@inject IProductionLogEventService ProductionLogEventService

@implements IDialogContentComponent

<FluentDialogHeader ShowDismiss="false">
    <h2>@Dialog.Instance.Parameters.Title</h2>
    <FluentDivider />
</FluentDialogHeader>

<FluentDialogBody>
    @if (!IsProcessing)
    {
        <div class="d-flex flex-wrap gap-2 justify-content-around align-content-center">
            @for (var i = 0; i < BatchSize; i++)
            {
                var index = i;
                var inputId = $"logIdInput_{i}"; // Unique ID per input
                
                <div class="form-floating flex-grow-1">
                    <InputNumber TValue="int?"
                                 id="@inputId"
                                 class="form-control tall-input text-lightweight"
                                 placeholder="Scan Part"
                                 @bind-value="ProductionLogIds[index]" />
                    
                    <label for="@inputId" class="form-label subtle-label">
                        #@(i+1)
                    </label>
                </div>
            }
        </div>
    }
    else
    {
        <p class="h1">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span> Processing...</span>
        </p>
    }
</FluentDialogBody>

<FluentDialogFooter>
    <button type="button"
            class="btn btn-sm btn-outline-secondary me-2"
            @onclick="ConfirmAsync"
            disabled="@IsProcessing">
        Load Parts
    </button>

    <button type="button"
            class="btn btn-sm btn-outline-secondary ms-2"
            @onclick="CancelAsync"
            disabled="@IsProcessing">
        Cancel
    </button>
</FluentDialogFooter>

@code {
    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    private bool IsProcessing { get; set; } = false;

    private int BatchSize => Math.Max(1, ProductionLogEventService.CurrentProductionLogs.Count); 
    // fallback to 1 if no logs
        
    private List<int?> ProductionLogIds { get; set; } = [];

    protected override void OnInitialized()
    {
        // Initialize the input list based on batch size
        ProductionLogIds = Enumerable.Repeat<int?>(null, BatchSize).ToList();
    }

    private async Task ConfirmAsync()
    {
        IsProcessing = true;
        
        // Load previous production log IDs entered by the user
        var ids = ProductionLogIds
            .OfType<int>() // filters out nulls automatically
            .ToList();

        // Load installed parts into memory using the service
        //TODO
        //await PartTraceabilityService.LoadInstalledPartsIntoMemoryAsync(ids);
        
        IsProcessing = false;

        await Dialog.CloseAsync();
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}
