@page "/production-log"
@attribute [Authorize(Roles = "Admin, Technician, Operator")]
@using MESS.Services.CRUD.Products
@using MESS.Services.CRUD.ProductionLogs
@using MESS.Services.CRUD.WorkInstructions
@using MESS.Services.UI.SessionManager
@using MESS.Services.UI.LocalCacheManager
@using MESS.Services.UI.PartTraceability
@using MESS.Services.UI.ProductionLogEvent
@using MESS.Services.UI.QrCodes
@using MESS.Blazor.Components.Dialogs
@using MESS.Services.CRUD.PartTraceability
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject IProductionLogService ProductionLogService
@inject IProductionLogEventService ProductionLogEventService
@inject IWorkInstructionService WorkInstructionService
@inject IProductService ProductService
@inject ILocalCacheManager LocalCacheManager
@inject ISessionManager SessionManager
@inject AuthenticationStateProvider AuthProvider
@inject IJSRuntime JSRuntime
@inject IToastService ToastService
@inject IQrCodeService QrPrinter
@inject IPartTraceabilityFormService PartTraceabilityService
@inject IPartTraceabilityPersistenceService PartTraceabilityPersistenceService
@implements IAsyncDisposable
@attribute [StreamRendering(false)]

<PageTitle>@Title</PageTitle>
<ErrorBoundary>
    <ChildContent>
        <AuthorizeView Roles="Operator, Technician, Administrator">
            <Authorizing>
                <p>Authorizing...</p>
            </Authorizing>
            <NotAuthorized>
                <p>Not Authorized</p>
            </NotAuthorized>
            <ChildContent Context="auth_context">
                    @if (!IsLoading)
                    {
                        <div class="container mb-3">
                            <div class="container ps-0 d-inline-flex justify-content-between gap-4 mb-2 flex-wrap">
                                <CreateHeader
                                    WorkInstructions="@ActiveProductWorkInstructionList"
                                    OnWorkInstructionSelected="@SetActiveWorkInstruction"
                                    ActiveLineOperator="@ActiveLineOperator"
                                    Products="@Products"
                                    OnProductSelected="@SetActiveProduct"
                                    BatchSize="@BatchSize"
                                    OnBatchSizeChanged="OnBatchSizeChanged" />
                                
                                <div class="d-inline-flex gap-4 align-items-center flex-sm-wrap">
                                    <div class="">
                                        <p class="mb-0">
                                            @if (@ProductionLogEventService.IsSaved)
                                            {
                                                <span class="badge text-bg-success p-2">Saved</span>
                                            }
                                            else
                                            {
                                                <span class="badge text-bg-danger p-2">Unsaved</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <EditForm class="" FormName="EditProductionLogs" Model="@ProductionLogBatch" OnValidSubmit="HandleSubmit">
                                <DataAnnotationsValidator/>
                                <ValidationSummary/>
                                <ConfirmationModal @ref="popupRef" OnSubmit="HandleConfirmation"/>
                                <MessageModal @ref="errorPopupRef" />

                                @if (ActiveWorkInstruction != null && ActiveProduct != null)
                                {
                                    <WorkInstructionStepList ActiveWorkInstruction="@ActiveWorkInstruction" ProductionLogs="ProductionLogBatch.Logs" OnStepCompleted="@(async (args) => await OnStepCompleted(args.Item1, args.Item2))"/>
                                }
                                
                                <div id="submit-button" class="d-flex justify-content-center mt-4 gap-4">

                                    <div class="mb-4">
                                        <button type="submit" class="btn btn-primary">Submit Log</button>
                                    </div>
                                    
                                </div>
                            </EditForm>
                        </div>
                    }
                    else
                    {
                        <div class="container">
                            Loading...
                        </div>
                    }
            </ChildContent>
        </AuthorizeView>
    </ChildContent>
    <ErrorContent Context="ex">
        <div class="alert alert-danger" role="alert">
            An error occurred: @ex.Message
        </div>
    </ErrorContent>
</ErrorBoundary>